@using smART.ViewModel
@using smART.MVC.Present.Helpers
@using smART.MVC.Present.Extensions
@model smART.ViewModel.ReportFilter
@{
  Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_LayoutReportsDetails.cshtml";
  ViewBag.Feature = smART.Common.EnumFeatures.Reports_Report;

  ViewBag.SearchAction = "_GetAllItems";
  ViewBag.SearchController = "SalesOrderItem";
  ViewBag.Transaction = true;
}
<script type="text/javascript">


  function onItemChange(e)
  {
    $("#ItemID").val(e.value);
  }

  function RefreshReport()
  {
    var item = new Object();
    item = new Object({ FocusAreaID: $("#FocusAreaID").val(), ReportName: $("#ReportName").val(), DataSet_Name: $("#DataSet_Name").val(), Parameters: $("#Parameters").val(),ItemID: $("#ItemID").val(), UOM: $("#UOM").val()});
    Refresh(item)
  }


</script>
<table>
  <tr>
   <td style="width: 70px">     
    @Html.Label("Item")
    </td>
    <td>
      @(Html.Telerik().ComboBox().Name("Item").DropDownHtmlAttributes(new {
    style = "height: 200px; width:250px;"
  }).BindTo(ItemHelper.ItemList("")).ClientEvents(events => events.OnChange("onItemChange")))
    </td>
       <td>
       @Html.AuthorizedLabelFor(m => m.UOM)
    </td>
    <td>
       @Html.AuthorizedEditorFor(m => m.UOM, new {LovType = "UOM",selectedItem ="LBS"})
     </td>
    <td>
      <button type="submit" class="t-button" onclick="RefreshReport()">
        Refresh</button>     
      @Html.HiddenFor(m => m.FocusAreaID)
      @Html.HiddenFor(m => m.ReportName)
      @Html.HiddenFor(m => m.DataSet_Name)
      @Html.HiddenFor(m => m.Parameters)
      @Html.HiddenFor(m => m.ItemID)
    </td>
  </tr>
</table>
